@page "/"
@using DomainLayer.Entities
@using NetcodeHub.Packages.Components.Validations.OnInput

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-lg-6">
        <EditForm Model="employee" OnValidSubmit="Save">
            <DataAnnotationsValidator />
            <FloatingText @bind-Value="employee.Name" Label="Customer Fullname" Placeholder="John Doe" />
            <ValidationMessage For="()=>employee.Name" />
            <FloatingTextArea @bind-Value="employee.Address" Label="Customer Address" Placeholder="Accra Ghana" />
            <ValidationMessage For="()=>employee.Address" />

            <button class="btn btn-primary mt-5 mb-5" type="submit">Save</button>
        </EditForm>
    </div>
</div>


@code {
    Employee employee = new();
}
